@model EventEase.Models.Venue

@{
    ViewData["Title"] = "Delete Venue";
}

<h1>Delete Venue</h1>

<h3>Are you sure you want to delete this venue?</h3>
<div>
    <hr />
    <div class="alert alert-warning">
        <strong>Warning!</strong> Deleting this venue will also delete all associated bookings.
    </div>
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.VenueName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.VenueName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VenueId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>